<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>{$name}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__ROOT__/templates/ui/images/favicon.ico" rel="shortcut icon" />
<!--引入bootstrap核心css-->
<link href="__ROOT__/templates/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--自定义css-->
<link href="__ROOT__/templates/ui/css/head.css" rel="stylesheet">
<link href="__ROOT__/templates/ui/css/index.css" rel="stylesheet">
<link href="__ROOT__/templates/ui/css/foot.css" rel="stylesheet">

	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME STYLES --> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="__ROOT__/Public/js/html5shiv.min.js"></script>
        <script src="__ROOT__/Public/js/respond.min.js"></script>
    <![endif]-->
	<!-- END THEME STYLES -->
	


	
</head>
<!-- BEGIN BODY -->
<body>
<include file="Public:header" />
<div style="background-color:#fff;height:10px;"></div>
<div style="background-color:#fff;">
<div class="container" style="min-height:400px; margin-top:50px;">

<br><br>

           <div class="row"> 
             <div class="col-lg-3 col-md-3 col-xs-3" ></div>
			 <div class="col-lg-6 col-md-6 col-xs-6" >
			 <present name="message">
			 <h1 style="color:green"><span class="glyphicon glyphicon-ok"></span> <small><?php echo($msg); ?></small></h1>
			 <else/>
             <h1 style="color:red"><small><?php echo($msg); ?></small></h1>

              </present>
			 
			 
			 页面自动 <a id="href" href="<?php echo($_SERVER["HTTP_REFERER"]); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
			 <span class="help-block"></span></div>
			 <div class="col-lg-3 col-md-3 col-xs-3" ></div>
		  
		  </div>
		  
             



			  
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
			  
			
          





</div>
</div>

</div>
</div><!--背景为0-->
	
	<include file="Public:foot" />	

	

	<!-- END CORE PLUGINS -->
	
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>