<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{$title}-{$name}</title>
<meta content="{key}" name="description" />
<meta content="{des}" name="author" />

<link href="__ROOT__/templates/ui/images/favicon.ico" rel="shortcut icon" />
<!--引入bootstrap核心css-->
<link href="__ROOT__/templates/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--自定义css-->
<link href="__ROOT__/templates/ui/css/head.css" rel="stylesheet">
<link href="__ROOT__/templates/ui/css/index.css" rel="stylesheet">
<link href="__ROOT__/templates/ui/css/foot.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<include file="Public:header" />
<!--地区选择-->
<div class="container main">
    <div class="row">
      <div class="title hidden-xs">
        <h3><span class="glyphicon glyphicon-cutlery"></span> 轻松定餐，寻找您身边的美味！</h3>
      </div>

      <div class="title visible-xs">
        <h5><span class="glyphicon glyphicon-cutlery"></span> 轻松定餐，寻找您身边的美味！</h5>
      </div>
    </div>
    <div class="row area">
      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/1">
          <img src="__ROOT__/templates/ui/images/area/area1.jpg" alt="罗一路" class="img-thumbnail">
          <p>罗一路</p>
        </a>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/2" >
          <img src="__ROOT__/templates/ui/images/area/area2.jpg" alt="罗二路" class="img-thumbnail">
          <p>罗二路</p>
        </a>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/3" >
          <img src="__ROOT__/templates/ui/images/area/area3.jpg" alt="罗三路" class="img-thumbnail">
          <p>罗三路</p>
        </a>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/4" >
          <img src="__ROOT__/templates/ui/images/area/area4.jpg" alt="罗四路" class="img-thumbnail">
          <p>罗四路</p>
        </a>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/5" >
          <img src="__ROOT__/templates/ui/images/area/area5.jpg" alt="罗五路" class="img-thumbnail">
          <p>罗五路</p>
        </a>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="/shop/farealist/id/6" >
          <img src="__ROOT__/templates/ui/images/area/area6.jpg" alt="罗六路" class="img-thumbnail">
          <p>罗六路</p>
        </a>
      </div>
    </div>
      <p class="tui">我们正努力将外卖服务推广到临沂其他地方</p>
    </div>


<include file="Public:foot" />

</body>
<!-- END BODY -->
</html>